.env
.venv/
.ven/
__pycache__/
*.pyc
*.pyo
*.log
app/storage/trends/*.json
app/storage/videos/*
app/storage/logs/*
app/storage/reports/*.md
app/storage/reports/*.json
.pytest_cache/
.mypy_cache/
.ruff_cache/
